.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #292929
 }

 .search {
    display: flex;
    min-height: 20vh;
    background-color: #1d1d1d;
    align-items: center;
    justify-content: center;
    
 }

 .movie-recommedations{
   display: flex;
   flex-wrap: wrap;
   padding: 30px;
   justify-content: space-evenly;
   gap: 24px;

 }



 